.game-container {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

canvas {
    box-sizing: border-box;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
    color:#4CAF50 !important;
    margin: auto;
    padding-left: 8px;
    padding-bottom: 8px;
  }
  
  .card-text {
    font-size: 14px;
    color: #777;
    margin:auto;
    text-align: right;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-item-button{
    position: absolute;
    right: 10px;
    top: 5px;
  }
 